In [1]:
!mkdir data

In [2]:
!(cd ./data/ ; wget -cv https://ar51.s3.amazonaws.com/jigsaw-toxic-comment-classification-challenge.zip)

--2019-11-18 05:11:30--  https://ar51.s3.amazonaws.com/jigsaw-toxic-comment-classification-challenge.zip
Resolving ar51.s3.amazonaws.com (ar51.s3.amazonaws.com)... 52.216.82.232
Connecting to ar51.s3.amazonaws.com (ar51.s3.amazonaws.com)|52.216.82.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55956017 (53M) [application/zip]
Saving to: ‘jigsaw-toxic-comment-classification-challenge.zip’

jigsaw-toxic-commen 100%[===================>]  53.36M  18.2MB/s    in 2.9s

2019-11-18 05:11:34 (18.2 MB/s) - ‘jigsaw-toxic-comment-classification-challenge.zip’ saved [55956017/55956017]

In [3]:
!(cd ./data/ ; unzip ./jigsaw-toxic-comment-classification-challenge.zip)

Archive:  ./jigsaw-toxic-comment-classification-challenge.zip
  inflating: test_labels.csv
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [4]:
!ls -alh ./data/

total 188M
drwxrwxr-x 2 ec2-user ec2-user 4.0K Nov 18 05:11 .
drwxrwxr-x 4 ec2-user ec2-user 4.0K Nov 18 05:11 ..
-rw-rw-r-- 1 ec2-user ec2-user  54M Nov 15 20:42 jigsaw-toxic-comment-classification-challenge.zip
-rw-rw-r-- 1 ec2-user ec2-user 6.0M Jun 19  2018 sample_submission.csv
-rw-rw-r-- 1 ec2-user ec2-user  58M Jun 19  2018 test.csv
-rw-rw-r-- 1 ec2-user ec2-user 4.8M Jun 19  2018 test_labels.csv
-rw-rw-r-- 1 ec2-user ec2-user  66M Jun 19  2018 train.csv

In [5]:
import pandas as pd
import numpy as np

In [6]:
train = pd.read_csv("./data/train.csv")
train['comment_text'] = train['comment_text'].str.replace('([“”¨«»®´·º½¾¿¡§£₤‘’])', '')
train.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159571 entries, 0 to 159570
Data columns (total 8 columns):
id               159571 non-null object
comment_text     159571 non-null object
toxic            159571 non-null int64
severe_toxic     159571 non-null int64
obscene          159571 non-null int64
threat           159571 non-null int64
insult           159571 non-null int64
identity_hate    159571 non-null int64
dtypes: int64(6), object(2)
memory usage: 9.7+ MB

In [8]:
test = pd.read_csv("./data/test.csv")
test_id = test['id']
test['comment_text'] = test['comment_text'].str.replace('([“”¨«»®´·º½¾¿¡§£₤‘’])', '')
test.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [9]:
data_df = pd.read_csv('./data/sample_submission.csv')
data_df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.5,0.5,0.5,0.5,0.5,0.5
1,0000247867823ef7,0.5,0.5,0.5,0.5,0.5,0.5
2,00013b17ad220c46,0.5,0.5,0.5,0.5,0.5,0.5
3,00017563c3f7919a,0.5,0.5,0.5,0.5,0.5,0.5
4,00017695ad8997eb,0.5,0.5,0.5,0.5,0.5,0.5

In [10]:
label_df = pd.read_csv('./data/test_labels.csv')
label_df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,-1,-1,-1,-1,-1,-1

In [11]:
label_df.size

1072148

In [12]:
label_df.shape

(153164, 7)

In [13]:
type(label_df)

pandas.core.frame.DataFrame

In [14]:
label_df.values

array([['00001cee341fdb12', -1, -1, ..., -1, -1, -1],
       ['0000247867823ef7', -1, -1, ..., -1, -1, -1],
       ['00013b17ad220c46', -1, -1, ..., -1, -1, -1],
       ...,
       ['fffda9e8d6fafa9e', -1, -1, ..., -1, -1, -1],
       ['fffe8f1340a79fc2', -1, -1, ..., -1, -1, -1],
       ['ffffce3fb183ee80', -1, -1, ..., -1, -1, -1]], dtype=object)