In [1]:
!mkdir split

In [2]:
import random
import math
import numpy 
import pandas as pd
from sklearn.model_selection import train_test_split


# Configure paths to your dataset files here
DATASET_FILE = 'data/train.csv'
FILE_TRAIN = 'split/train.csv'
FILE_VALID = 'split/val.csv'
FILE_TESTS = 'split/test.csv'

In [4]:
data = pd.read_csv(DATASET_FILE, nrows=100)
data.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,c8779341e1728431,Japanese article / Merging two articles \nThe ...,0,0,0,0,0,0
1,931c0e3bda9a0cbd,") 86.22.33.61 \n As above 19:23, 10 August ...",0,0,0,0,0,0
2,cd2d286774d34525,"Now, if the account is, indeed, a WP:SOCK or b...",0,0,0,0,0,0
3,e249c842bee6b36f,P.S. Are you a new user or do you have another...,0,0,0,0,0,0
4,90eed603e03b1aa8,Ania Abdullah (born on october 22 1995),0,0,0,0,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
id               100 non-null object
comment_text     100 non-null object
toxic            100 non-null int64
severe_toxic     100 non-null int64
obscene          100 non-null int64
threat           100 non-null int64
insult           100 non-null int64
identity_hate    100 non-null int64
dtypes: int64(6), object(2)
memory usage: 6.3+ KB

In [5]:
data.to_csv("split/val.csv")

In [6]:
val = pd.read_csv("split/val.csv")
val.head()

,Unnamed: 0,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0